@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  color: #1e293b;
}

select option {
  background: #ffffff;
  color: #1e293b;
}
